{# Single icon #}
{% include 'icon' with { name: 'address-book', classes: 'icon-lg' } %}

{# Multiple icons #}
{% include 'icon' with { name: 'address-book calendar chart-bar', classes: 'icon-lg' } %}
